body {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif; 
}

.heading {
    display: flex;
    justify-content: space-between;
}

 

.hidden {
    display: none;
}

/* .hidden:active {
    display: show;
} */